<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 13px; width: 30vw; border: 1px  solid rgba(112, 112, 112, 0.436); display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem 2rem; border-radius: 10px; background: white;">
    <p style="width: 90%; letter-spacing: 0.12rem;">
      You are recieving this email because you signed up to Malt and are
      required to verify your email address. Please click on the link below to
      complete the signup process the process:
    </p>
    <a style="margin: 1rem 0; padding: 1rem 2rem; text-decoration: none; letter-spacing: 0.2rem; text-align:center; color: white; background: rgb(16, 160, 16); border-radius: 10px; "
      href="paste verification link here" target="_blank">
      Verify
    </a>
  </div>
</body>

</html>