.react-select__control {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.react-select__menu {
  position: relative;
  z-index: 60 !important;
  font-size: 0.9rem;
  border-color: none !important;
  cursor: pointer;
}

.react-select__control--menu-is-open,
.react-select__control--is-focused {
  border-color: lighten($primary, 15%) !important;
  box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !important;
}
